<div class="p-3">
  <div class="columns is-vcentered">
    <div class="column">
      <h2 class="title is-4 has-text-centered">
        Deck de {{ deck.getSumOfCards() }} cartes, composé de {{ deck.getSumOfColors() }} couleur(s).
      </h2>
    </div>
    <div class="column is-narrow">
      <button class="button" (click)="exportToJson()">Exporter</button>
    </div>
  </div>
</div>

<nav class="columns level p-3 m-3">
  <div class="column is-1 level-item has-text-centered">
  </div>
  <div class="column is-1 level-item has-text-centered">
    <p class="heading">Couleur</p>
  </div>
  <div style="width: 2px; height: 100px; background-color: #1f2229;"></div>
  <div class="column is-1 level-item has-text-centered">
    <p class="heading">Créature(s)</p>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <p class="heading">Artéfact(s)</p>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <p class="heading">Ephémères(s)</p>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <p class="heading">Enchantement(s)</p>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <p class="heading">Rituel(s)</p>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <p class="heading">Terrain(s)</p>
  </div>
  <div style="width: 2px; height: 100px; background-color: #1f2229;"></div>
  <div class="column is-1 level-item has-text-centered">
    <p class="heading">Pourcentage</p>
  </div>
</nav>

<nav class="columns level p-3 m-3" *ngFor="let color of getActiveColors()">
  <div class="column is-1 level-item has-text-centered">
    <button class="button is-danger is-small" aria-label="Supprimer" (click)="toggleColor(color)">
      <span class="icon is-small">
        <i class="fas fa-trash"></i>
      </span>
    </button>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <p>{{ color }}</p>
  </div>
  <div style="width: 2px; height: 100px; background-color: #1f2229;"></div>
  <div class="column is-1 level-item ">
    <input
      class="title input has-text-centered"
      min="0"
      [type]="'number'"
      [ngModel]="0"
      (ngModelChange)="resetCardsByTypeByColorAndAddCards(CardType.Creatures, color, $event)">
  </div>
  <div class="column is-1 level-item has-text-centered">
    <input
      class="title input has-text-centered"
      min="0"
      [type]="'number'"
      [ngModel]="0"
      (ngModelChange)="resetCardsByTypeByColorAndAddCards(CardType.Artifact, color, $event)">
  </div>
  <div class="column is-1 level-item has-text-centered">
    <input
      class="title input has-text-centered"
      min="0"
      [type]="'number'"
      [ngModel]="0"
      (ngModelChange)="resetCardsByTypeByColorAndAddCards(CardType.Ephemere, color, $event)">
  </div>
  <div class="column is-1 level-item has-text-centered">
    <input
      class="title input has-text-centered"
      min="0"
      [type]="'number'"
      [ngModel]="0"
      (ngModelChange)="resetCardsByTypeByColorAndAddCards(CardType.Enchantement, color, $event)">
  </div>
  <div class="column is-1 level-item has-text-centered">
    <input
      class="title input has-text-centered"
      min="0"
      [type]="'number'"
      [ngModel]="0"
      (ngModelChange)="resetCardsByTypeByColorAndAddCards(CardType.Rituel, color, $event)">
  </div>
  <div class="column is-1 level-item has-text-centered">
    <input
      class="title input has-text-centered"
      min="0"
      [type]="'number'"
      [ngModel]="0"
      (ngModelChange)="resetCardsByTypeByColorAndAddCards(CardType.Terrain, color, $event)">
  </div>
  <div style="width: 2px; height: 100px; background-color: #1f2229;"></div>
  <div class="column is-1 level-item has-text-centered">
    <p class="title">{{ deck.getPercentageOfCardsByColor(color) }}%</p>
  </div>
</nav>

<nav class="columns level p-3 m-3" *ngIf="!allColorsAreActive()">
  <div class="column is-1 level-item has-text-centered">
  </div>
  <div class="column is-1 level-item has-text-centered">
    <div class="select">
      <select>
        <option selected hidden disabled>Ajouter</option>
        <option *ngFor="let color of getNotActiveColors()" (click)="toggleColor(color)">{{ color }}</option>
      </select>
    </div>
  </div>
  <div style="width: 2px; height: 100px; background-color: #1f2229;"></div>
  <div class="column is-1 level-item has-text-centered">
  </div>
  <div class="column is-1 level-item has-text-centered">
  </div>
  <div class="column is-1 level-item has-text-centered">
  </div>
  <div class="column is-1 level-item has-text-centered">
  </div>
  <div class="column is-1 level-item has-text-centered">
  </div>
  <div class="column is-1 level-item has-text-centered">
  </div>
  <div style="width: 2px; height: 100px; background-color: #1f2229;"></div>
  <div class="column is-1 level-item has-text-centered">
  </div>
</nav>

<hr>

<nav class="columns level p-3 m-3">
  <div class="column is-1 level-item has-text-centered">
  </div>
  <div class="column is-1 level-item has-text-centered">
    <div>
      <p>Total</p>
      <hr>
      <p>Pourcentage</p>
    </div>
  </div>
  <div style="width: 2px; height: 100px; background-color: #1f2229;"></div>
  <div class="column is-1 level-item has-text-centered">
    <div>
      <p class="title">{{ deck.getSumOfCardsByType(CardType.Creatures) }}</p>
      <hr>
      <p class="title">{{ deck.getPercentageOfCardsByType(CardType.Creatures) }}%</p>
    </div>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <div>
      <p class="title">{{ deck.getSumOfCardsByType(CardType.Artifact) }}</p>
      <hr>
      <p class="title">{{ deck.getPercentageOfCardsByType(CardType.Artifact) }}%</p>
    </div>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <div>
      <p class="title">{{ deck.getSumOfCardsByType(CardType.Ephemere) }}</p>
      <hr>
      <p class="title">{{ deck.getPercentageOfCardsByType(CardType.Ephemere) }}%</p>
    </div>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <div>
      <p class="title">{{ deck.getSumOfCardsByType(CardType.Enchantement) }}</p>
      <hr>
      <p class="title">{{ deck.getPercentageOfCardsByType(CardType.Enchantement) }}%</p>
    </div>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <div>
      <p class="title">{{ deck.getSumOfCardsByType(CardType.Rituel) }}</p>
      <hr>
      <p class="title">{{ deck.getPercentageOfCardsByType(CardType.Rituel) }}%</p>
    </div>
  </div>
  <div class="column is-1 level-item has-text-centered">
    <div>
      <p class="title">{{ deck.getSumOfCardsByType(CardType.Terrain) }}</p>
      <hr>
      <p class="title">{{ deck.getPercentageOfCardsByType(CardType.Terrain) }}%</p>
    </div>
  </div>
  <div class="column is-1 level-item">
  </div>
</nav>
