<nav class="panel m-4 is-relative">
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Search" (input)="onSearch($event)" />
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <div class="notification panel-block results" *ngIf="(filteredResults | async) as results">
    <a class="item p-2" *ngFor="let result of results" (click)="selectCard(result)">{{ result }}</a>
  </div>
</nav>

<div class=" column m-4">
  <img class="card" *ngIf="card?.image_uris?.small" src="{{ card.image_uris.normal }}" />
</div>

